*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    display:block;
    max-width : 600px;
    margin : auto;
    height : 100vh;
}

main{
    padding : 1rem;
}

div{
    display:block;
}

.heading{
    background-color:yellow;
    color:black;
    font-size: 2rem;
    padding : 1rem;
    text-align: center;
}

textarea{
    box-sizing: border-box;
    display:block;
    width: 100%;
    min-height: 20vh;
    margin-top: 2rem;
    font-size : large;
    padding : .5rem .5rem;

}

#translate-btn{
    padding : 1rem 2rem;
    background-color:yellow;
    color: black;
    margin : 1rem;
    cursor: pointer;
}
#translate-op{
   border : 1px solid black;
   width : 100%;
   display : block;
   min-height : 20vh;
   padding : .5rem .5rem;
   overflow : scroll;
}

.footer{
    margin-top : 4rem;
    background-color : yellow;
    bottom: 0;
    text-align: center;
    font-size : large;
    line-height : 1.5rem;
}